@import 'main.less';

* {
  margin: 0;
  padding: 0;
}

main {
  width: calc(100% - 200px);
  padding: 100px 100px 0;
  header {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: @white;
    height: 200px;
    img {
      border-radius: 50%;
      .image-size();
      position: absolute;
      top: -75px;
      left: calc(50% - 75px);
    }
    h1 {
      padding-top: 100px;
    }
    h2 {
      padding: 20px 0;
    }
    hr {
      width: 90%;
      margin-left: 5%;
    }
  }

  section {
    background-color: @white;
    padding: 10px 5% 0 5%;
    .aboutMe,
    .eduction {
      color: @primary-color;
      padding-top: 10px;
    }
    .aboutMeContent {
      font-size: 16px;
      padding-top: 20px;
    }
    .eductionContentList {
      display: flex;
      margin-top: 20px;
      #year {
        width: 10%;
        font-size: 16px;
      }
      #content {
        flex: 1;
        margin-bottom: 30px;
        background-color: @gray;
        height: 60px;
        padding: 10px 20px;
        p {
          padding-top: 10px;
        }
      }
    }
  }
}
